<% @letters.each do |letter| %>
  <%= link_to letter, :class => 'letter-block' do %>
    <h5 class="index-title grey-text text-darken-1"><%= letter.title %></h5>
    <p class="date"><i class="grey-text text-darken-2"><%= time_ago_in_words(letter.created_at) %> ago</i></p>
    <hr></hr>
<% end %>
<% end %>