<% @letters.each do |letter| %>
  <div class="letter_wrapper">
  	<h2 class="title"><%= link_to letter.title, letter %></h2>
    <p class="date"><%= time_ago_in_words(letter.created_at) %></p>
  </div>
<% end %>