<div class="letter-wrapper">
<h1 class="title">
  <%= @letter.title %>
</h1>
<p class="date">
  <b>Addressed to <%= @letter.addressed_to %></b> | <i>Submitted <%= time_ago_in_words(@letter.created_at) %> ago</i>
</p>
 <p class="body">
  <%= @letter.body %>
</p>
</div>