body
{
	color: #757575;
}
.site-header
{
	margin-top: 90px;
	margin-bottom: 40px;
}
.container
{
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	margin-bottom: 3%;
}
.letter-block
{
	.index-title
	{
		padding: 15px 20px 5px 25px;
	}
	.date
	{
		padding: 0px 20px 5px 25px;
	}
}
hr
{
	color: #757575;
	margin-bottom: 0px;
}
.letter-wrapper
{
	.title
	{
		padding: 3% 10% 0%;
	}
	.date
	{
		padding: 0% 10% 3%;
	}
	.body
	{
		padding: 0% 10% 3%;
	}
}