@import url('http://fonts.googleapis.com/css?family=Roboto');
html
{
	font-family: "Roboto",sans-serif;
}
body
{
	color: #757575;
}
.site-header
{
	margin-top: 5%;
	margin-bottom: 5%;
}
.container
{
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	margin-bottom: 3%;
}
.letter-block
{
	.index-title
	{
		padding: 15px 20px 5px 25px;
	}
	.date
	{
		padding: 0px 20px 5px 25px;
	}
}
hr
{
	margin-bottom: 0px;
	border: 1px solid #C0C0C0;
}
.letter-wrapper
{
	.title
	{
		padding: 3% 10% 0%;
	}
	.date
	{
		padding: 0% 10% 3%;
	}
	.body
	{
		padding: 0% 10% 3%;
	}
}
.form-inputs {
	width: 70%;
	margin: 0px auto;
	margin-bottom: 3%;
}
.form-inputs abbr{
	display: none;
}
textarea
{
	background-color: transparent;
	border-width: medium medium 1px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color #9E9E9E;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 0px;
	outline: medium none;
	height: 15rem;
	width: 100%;
	font-size: 1rem;
	margin: 0px 0px 15px;
	padding: 0px;
	box-shadow: none;
	box-sizing: content-box;
	transition: all 0.3s ease 0s;
}
textarea:focus
{
	border-bottom: 1px solid #26A69A;
box-shadow: 0px 1px 0px 0px #26A69A;
}
.new-letter
{
	padding: 3%;
}
.pagination li.active
{
	background-color: #26a69a;
	color: #ffffff;
}
.pagination li a
{
	color: #757575;
}
.a-little-link
{
	a
	{
		color: #ffffff;
		text-decoration: underline;
	}
	a:hover
	{
		color: #ffffff;
		text-decoration: none;
	}
	color: #ffffff;
	margin-bottom: 3%;
}