body
{
	color: #757575;
}
.site-header
{
	margin-top: 90px;
	margin-bottom: 40px;
}
.container
{
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}
.letter-block
{
	.index-title
	{
		padding: 15px 20px 5px 25px;
	}
	.date
	{
		padding: 0px 20px 5px 25px;
	}
}
hr
{
	color: #cfcfcf;
}